<?xml version="1.0" encoding="UTF-8"?>

<routing>

  <routes>

    <route name="index" path="/" action="some:funny:index"></route>

    <route name="index.user" path="/{userId}">
      <requirements>
        <methods>
          <method>GET</method>
        </methods>
        <action>some:funny:user</action>
        <filters>
          <before>auth</before>
        </filters>
      </requirements>
    </route>

  </routes>

</routing>
